USE [QuanLyNhaSach]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 12/19/2024 10:06:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MAHD] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[SLSach] [int] NOT NULL,
	[TongGiaSach] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 12/19/2024 10:06:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[MAKH] [int] NOT NULL,
	[TENDN] [varchar](100) NOT NULL,
	[MATKHAU] [varchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/19/2024 10:06:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [int] NULL,
	[HinhThucTT] [nvarchar](100) NULL,
	[NgayHD] [datetime] NOT NULL,
	[TongTien] [float] NOT NULL,
	[KenhMua] [varchar](10) NULL,
 CONSTRAINT [HD_MAHD_PK] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/19/2024 10:06:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](100) NOT NULL,
	[SDT] [varchar](100) NOT NULL,
	[TenGmail] [varchar](320) NOT NULL,
 CONSTRAINT [KH_MAKH_PR] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NXB]    Script Date: 12/19/2024 10:06:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NXB](
	[MANXB] [int] IDENTITY(1,1) NOT NULL,
	[TENNXB] [nvarchar](100) NOT NULL,
	[DIACHINAXB] [nvarchar](100) NOT NULL,
 CONSTRAINT [NXB_MANXB_PR] PRIMARY KEY CLUSTERED 
(
	[MANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 12/19/2024 10:06:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MASACH] [int] IDENTITY(1,1) NOT NULL,
	[TENSACH] [nvarchar](80) NOT NULL,
	[MATG] [int] NULL,
	[TENTL] [nvarchar](80) NOT NULL,
	[GIASACH] [float] NULL,
	[SLSACH] [int] NOT NULL,
	[MANXB] [int] NULL,
	[TomTat] [nvarchar](max) NOT NULL,
	[HinhAnh] [varbinary](max) NOT NULL,
 CONSTRAINT [S_MS_PK] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 12/19/2024 10:06:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATG] [int] IDENTITY(1,1) NOT NULL,
	[TENTG] [nvarchar](60) NOT NULL,
	[GIOITINH] [nvarchar](4) NOT NULL,
	[NOISINH] [nvarchar](80) NOT NULL,
	[NAMSINH] [datetime] NULL,
 CONSTRAINT [TG_MATG_PK] PRIMARY KEY CLUSTERED 
(
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Sach] ADD  CONSTRAINT [S_GS_DF]  DEFAULT ((100000)) FOR [GIASACH]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [CTHD_MAHD_FK] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [CTHD_MAHD_FK]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [CTHD_MS_PR] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MASACH])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [CTHD_MS_PR]
GO
ALTER TABLE [dbo].[DANGNHAP]  WITH CHECK ADD  CONSTRAINT [DN_MAKH_FK] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DANGNHAP] CHECK CONSTRAINT [DN_MAKH_FK]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [HD_MAKH_FK] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [HD_MAKH_FK]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [S_MANXB_FK] FOREIGN KEY([MANXB])
REFERENCES [dbo].[NXB] ([MANXB])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [S_MANXB_FK]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [S_MATG_FK] FOREIGN KEY([MATG])
REFERENCES [dbo].[TACGIA] ([MATG])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [S_MATG_FK]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [HD_HTTT_CHECK] CHECK  (([HinhThucTT]=N'Tiền mặt' OR [HinhThucTT]=N'Chuyển tiền'))
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [HD_HTTT_CHECK]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [HD_KM_CHECK] CHECK  (([KenhMua]='Offline' OR [KenhMua]='Online'))
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [HD_KM_CHECK]
GO
